<div class="container">
<div class="row">
<div class="col-md-12">
	<div class="text-center page" style="">   
<img  class = "img-responsive" style = "display:inline-block;width:350px;" src="/../img/logo.jpg" alt="">
<br><br>	<h1 style = "font-size: 40px;
    color: #517284;
">¡PROXIMAMENTE!</h1>

<h1 style = "font-size: 40px;   font-weight:bold;   color: #517284;
">HISTORIA CLINICA PARA PSICOLOGOS</h1>

<h1 style = "font-size: 35px ;  color: #5e9bbb;
"><i class="fa fa-envelope" aria-hidden="true"></i>

info@psicloud.co
</h1>



</div>

</div>
	
</div>
	
</div>


<style>
h2
{
	color:gray;
}
.page
{
	width:80%;margin-left: 10%;text-align: center;margin-top: 5%
}
	@media only screen and (max-width: 500px) {
		.page
		{
			width:100%;margin-left: 0%;text-align: center;margin-top: 5%
		}
}
   
}
</style>

